<!-- body content goes here -->

<div class="fixed-action-btn horizontal">
   <a class="btn-floating btn-large red z-depth-2">
     <p>SR</p>
   </a>
   <ul>
     <li><a href="https://www.linkedin.com/in/scottrosehart" class="animate-linkedin btn-floating yellow darken-1"><i class="fab fa-linkedin-in"></i></a></li>
     <li><a href="https://codepen.io/ScoRoc/" class="animate-codepen btn-floating green"><i class="fab fa-codepen"></i></a></li>
     <li><a href="https://github.com/ScoRoc" class="animate-gh btn-floating blue"><i class="fab fa-github"></i></a></li>
   </ul>
 </div>

<footer>
  <div class="center-align">
    <p>SR &#169; | scott@scottrosehart.com</p>
  </div>
</footer>

<!-- footer goes here -->
