
<!-- header-bottom goes here -->

<div class="row">
  ~~~~~~~~~~space filler.........
</div>

<div class="row">
  ~~~~~~~~~~space filler.........
</div>

<div class='row'>
  <div class='col s11 l5 center-align test-title-col'>
    <h1>yo! <%= user.first_name %></h1>
  </div>
  <div class='col s12 l5'>
    <form action="/favos/:name" method="get">
      <input type="text" name="search_name" placeholder="search music, movies, tv shows, games...">
      <input type="submit">
    </form>
  </div>
</div>

<!-- body content goes here -->
