
<!-- header-bottom goes here -->

<div class='row'>
  <div class='col s11 l4 offset-l1 center-align profile-name'>
    <h1 data-text="<%= currentUser.first_name %>">yo! <%= currentUser.first_name %></h1>
  </div>
</div>

<!-- body content goes here -->
