<% include partials/header-top %>

<title>yo! favo | Homepage</title>

<% include partials/header-bottom %>

<!-- body content goes below here -->

<div class="row">
  <div class="col s4 offset-s2 center-align">
    <div class="h1-landing-wrapper">
      <div class="behind-h1-landing"></div>
      <h1 class="h1-landing">yo! favo</h1>
    </div>
  </div>
</div>

<!-- body content goes above here  -->

<% include partials/footer-content %>

<% include partials/footer %>
