<% include partials/header-top %>

<title>yo! favo | Homepage</title>

<% include partials/header-bottom %>

<!-- body content goes below here -->

<h1>yo! favo</h1>

<hr>

<!-- fix this link -->
<a href="/users/1/profile">Users 1 profile page</a>

<!-- body content goes above here  -->

<% include partials/footer %>
