<% include partials/header-top %>

<title>yo! favo | Homepage</title>

<% include partials/header-bottom %>

<!-- body content goes below here -->

<div class="row">
  <div class="col s4 offset-s2 center-align">
    <div class="h1-landing-wrapper">
      <div class="backing-box"></div>
      <div class="blue-box"></div>
      <div class="top-right-box"></div>
      <div class="bottom-left-box"></div>
      <h1 class="h1-landing">yo! favo</h1>
    </div>
  </div>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row">
  <div class="col s10 offset-s1 line-break"></div>
</div>

<div class="row">
  <div class="col s4 offset-s3 center-align">
    <div class="intro-text">
      <p>Welcome to yo!favo - a web app to share your favorites with your friends.</p>
    </div>
  </div>
</div>

<!-- body content goes above here  -->

<% include partials/footer-content %>

<% include partials/footer %>
