body {
  color: #3af;
}

.h1-landing {
  background: #bbb;
}

.foobar {
  color: red;
  font-size: 30px;
}

.nav-test {
  font-size: 20px;
  position: fixed;
  top: 5%;
  right: 5%;
}

.nav-test a {
  color: orange;
}
