body {
  background-color: #38B683;
  color: #1E5157;
  font-size: 100%;
  z-index: 10;
}

body *::selection {
  background-color: #F06776 !important;
  color: #D6E5D8 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

li {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

footer {
  width: 100%;
  padding: 4vw;
  position: relative;
  bottom: 0;
  background: #1E5157;
}

footer p {
  display: inline-block;
  color: #D6E5D8;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

/* || Navbar logo || */
/* \\//  \\//  \\//  \\// */
.nav-h1-landing-wrapper {
  height: 20%;
  width: 50%;
  position: relative;
  /* top: 2vw; */
  z-index: 50 !important;
}

.nav-backing-box {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 70px;
  width: 120px;
  background-color: #97EDC4;
  z-index: -50;
}

.nav-blue-box {
  height: 47px;
  width: 47px;
  position: absolute;
  top: 9px;
  left: 19px;
  background-color: #45E9FF;
  box-shadow: 0 0 7px -2px rgba(255,255,255,.8);
  border-radius: 50%;
}

.nav-top-right-box {
  height: 27px;
  width: 70px;
  position: absolute;
  top: 19px;
  left: 51px;
  background-color: #FFEB00;
  box-shadow: 0 0 7px -2px rgba(255,255,255,.8);
  border-radius: 5px 5px 35% 35%;
}

.nav-bottom-left-box {
  height: 24px;
  width: 70px;
  position: absolute;
  top: 43px;
  left: 9px;
  border-radius: 35% 35% 5px 5px;
  box-shadow: 0 0 7px -2px rgba(255,255,255,.8);
  background-color: #FF6436;
}

.nav-h1-landing-yo {
  width: 100px;
  position: absolute;
  top: 11px;
  left: 88px;
  color: #E93095;
  font-size: 28px;
  text-shadow: 0 0 .02em white;
  border-radius: .05em;
}

.nav-h1-landing-favo {
  width: 100px;
  position: absolute;
  top: 11px;
  left: 130px;
  color: #97EDC4;
  font-size: 28px;
  text-shadow: 0 0 .02em #E93095;
  border-radius: .05em;
}
/* //\\  //\\  //\\  //\\ */
/* || Navbar logo || */

/* || Navbar styling || */
/* \\//  \\//  \\//  \\// */
nav {
    height: 80px;
    line-height: 80px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 80px;
    line-height: 43px;
}

nav .button-collapse i {
    height: 80px;
    line-height: 80px;
}

nav .brand-logo {
    font-size: 2.6rem;
}

.brand-logo-mobile {
  height: 20%;
  width: 50%;
  position: absolute;
  left: 0;
  z-index: 50 !important;
}

.navbar-fixed {
  margin-bottom: 10vh;
}

.mobile-nav-wrapper {
  margin-bottom: 5vh;
}

.nav-wrapper {
  background-color: #F06752;
  color: #58EDAB;
}

.nav-search-input {
  font-family: 'Roboto', sans-serif;
  color: #F4FFF7;
}

i.navbar-icons {
  color: #F4FFF7;
  ;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
}

.dropdown-button {
  font-size: 1.4rem;
}

#nav-search {
  width: 35vw;
}

/* || Mobile Nav Section Below || */
#mobile-search-trigger {
  cursor: pointer;
}

#mobile-search-drop {
  display: none;
  color: black;
  background: #cfd;
  width: 50vw;
  position: absolute;
  left: 25vw;
  z-index: 50;
  box-shadow: 0 1vw 5vw rgba(0,0,0,.8);
  transform: scale(0);
}

.mobile-search-display {
  transform: scale(0) !important;
  animation: mobile-search-appear .5s forwards !important;
}

@keyframes mobile-search-appear {
  100% {
    transform: scale(1);
  }
}

.mobile-search-away {
  z-index: -10;
  transform: scale(1) !important;
  animation: mobile-search-disappear .5s forwards !important;
}

@keyframes mobile-search-disappear {
  35% {
    transform: translate(0,0) scale(.65);
  }
  100% {
    transform: translate(0, -30vw) scale(0);
  }
}

.darken-body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: none;
  background-color: black;
  opacity: 0;
}

.dark-body-animate {
  animation: darken-body-animation .5s forwards;
}

@keyframes darken-body-animation {
  100% {
    opacity: .4;
  }
}

.light-body-animate {
  opacity: .4;
  animation: lighten-body .5s forwards;
}

@keyframes lighten-body {
  100% {
    opacity: 0;
  }
}
/* //\\  //\\  //\\  //\\ */
/* || Navbar styling || */



/* || Landing page logo || */
/* \\//  \\//  \\//  \\// */
.h1-landing-wrapper {
  height: 20vw;
  width: 50vw;
  position: relative;
  top: 2vw;
}

.backing-box {
  position: absolute;
  height: 21vw;
  width: 45vw;
  background-color: #97EDC4;
  opacity: .4;
  box-shadow: 0 0 .8vw .2vw #016266;
  z-index: -50;
}

.backing-box-cover {
  position: absolute;
  height: 21vw;
  width: 45vw;
  background-color: #38B683;
  z-index: -80;
}

.blue-box {
  height: 60%;
  width: 26%;
  position: absolute;
  background-color: #45E9FF;
  opacity: .9;
  border-radius: 50%;
  animation: circle-switch 9s .4s infinite, circle-color 36s infinite;
}

@keyframes circle-color {
  53% {
    background-color: #45E9FF;
  }
  54% {
    background-color: #9D36E5;
  }
  60% {
    background-color: #9D36E5;
  }
  61% {
    background-color: #45E9FF;
  }
}

@keyframes circle-switch {
  25% {
    transform: translate(16vw, 3vw);
  }
  30% {
    transform: translate(16vw, 3vw);
  }
  50% {
    transform: translate(0,0);
  }
}

.top-right-box {
  height: 40%;
  width: 50%;
  position: absolute;
  top: 12%;
  left: 20%;
  background-color: #FFEB00;
  border-radius: 1vw 1vw 35% 35%;
  animation: top-box-switch 9s .2s infinite;
}

.top-right-box-shadow {
  height: 40%;
  width: 50%;
  position: absolute;
  top: 12%;
  left: 20%;
  background-color: transparent;
  border-radius: 1vw 1vw 35% 35%;
  box-shadow: 0 0 .6vw .1vw rgba(1, 98, 102, .9);
  z-index: -100;
  animation: top-box-switch 9s .2s infinite;
}

@keyframes top-box-switch {
  25% {
    transform: translate(-16vw, 0);
  }
  30% {
    transform: translate(-16vw, 0);
  }
  50% {
    transform: translate(0,0);
  }
}

.bottom-left-box {
  height: 30%;
  width: 40%;
  position: absolute;
  bottom: 22%;
  left: -6%;
  background-color: #FF6436;
  border-radius: 35% 35% 1vw 1vw;
  animation: bottom-box-switch 9s infinite;
}

.bottom-left-box-shadow {
  height: 30%;
  width: 40%;
  position: absolute;
  bottom: 22%;
  left: -6%;
  background-color: transparent;
  border-radius: 35% 35% 1vw 1vw;
  box-shadow: 0 0 .6vw .1vw rgba(1, 98, 102, .9);
  z-index: -100;
  animation: bottom-box-switch 9s infinite;
}

@keyframes bottom-box-switch {
  25% {
    transform: translate(16vw, 0);
  }
  30% {
    transform: translate(16vw, 0);
  }
  50% {
    transform: translate(0,0);
  }
}

.h1-landing {
  position: absolute;
  color: #E93095;
  font-size: 9vw;
  text-shadow: 0 0 .02em white;
  border-radius: .05em;
  animation: h1-landing-flip 36s infinite;
}

@keyframes h1-landing-flip {
  6.25% {
    transform: rotate3d(0,0,0,0) scale(1) translate(0,0);
  }
  8.5% {
    transform: rotate3d(1,0,0,360deg) scale(1) translate(0,0);
  }
  27% {
    transform: rotate3d(1,0,0,360deg) scale(1) translate(0,0);
    box-shadow: 0 0;
  }
  30% {
    transform: rotate3d(1,0,0,360deg) scale(1.3) translate(0,0);
    box-shadow: 0 0 1vw;
  }
  42% {
    transform: rotate3d(1,0,0,360deg) scale(1) translate(0,0);
    box-shadow: 0 0;
  }
  48% {
    transform: rotate3d(1,0,0,360deg) scale(1) translate(0,0);
  }
  50% {
    transform: rotate3d(1,0,0,360deg) scale(.5) translate(13vw, -5vw);
  }
  51% {
    transform: rotate3d(1,0,0,360deg) scale(.5) translate(13vw, -5vw);
  }
  57% {
    transform: rotate3d(1,0,0,360deg) scale(.5) translate(-21vw, -5vw);
  }
  64% {
    transform: rotate3d(1,0,0,360deg) scale(1) translate(0,0);
  }
  100% {
    transform: rotate3d(1,0,0,360deg) scale(1) translate(0,0);
  }
}

@media (min-width: 992px) {
  .h1-landing {
    top: 2vw;
  }
}

@media (max-width: 992px) {
  .h1-landing {
    top: .7vw;
  }
}
/* //\\  //\\  //\\  //\\ */
/* || Landing page logo || */


/* || Landing page || */
/* \\//  \\//  \\//  \\// */
.line-break {
  border-top: 2px solid #2F535E;
}

.intro-text-wrapper {
  position: relative;
}

.intro-text {
  position: relative;
  height: 25vw;
  width: 45vw;
  margin-bottom: 10vw;
  background-color: #97EDC4;
  opacity: .4;
  z-index: -50;
}

.intro-text-wrapper p {
  position: absolute;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #193542;
}
/* //\\  //\\  //\\  //\\ */
/* || Landing page || */

.test-img-col {
  background: yellow;
}

.test-title-col {
  background: yellow;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  padding-bottom: 1.7em;
  font-size: 1.4em;
  height: 1.7em;
  text-align: center;
  position: relative;
  cursor: -webkit-grab;
  cursor: -moz-grag;
  cursor: grab;
}

#sortable li:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grab;
}

#sortable li span {
  position: absolute;
  left: 0;
}

.top-favo-box-row {
  margin: 0;
  padding: 0;
}

.row .col .top-favo-box {
  margin: 0;
  padding: 0;
}

.top-favo-desktop {
  min-height: 8vw;
  min-width: 28vw;
  height: 100%;
  margin: 0;
  padding-top: .1vw;
  background: papayawhip;
}

.top-favo-desktop-name {
  position: relative;
  top: 1vw;
}

.top-favo-mobile {
  position: relative;
  min-height: 15vw;
  background: papayawhip;
}

.top-favo-mobile-name {
  position: relative;
  top: 3vw;
}

.top-favo-mobile-type {
  position: relative;
  bottom: -10%;
}

.top-game a, .top-movie a, .top-music a, .top-show a {
  color: #97EDC4;
}

.top-game p, .top-movie p, .top-music p, .top-show p {
  color: #1E5157;
}

.top-game {
  background-color: #E93095;
  color: #97EDC4;
}

.top-movie {
  background-color: #9D36E5;
  color: #97EDC4;
}

.top-music {
  background-color: #FF6436;
  color: #97EDC4;
}

.top-show {
  background-color: #DEB400;
  color: #97EDC4;
}

.top-game-mobile {
  background-color: blue;
}

.top-movie-mobile {
  background-color: red;
}

.top-music-mobile {
  background-color: green;
}

.top-show-mobile {
  background-color: brown;
}

.game-li {
  background-color: #E93095;
  border: none;
}

.movie-li {
  background-color: #9D36E5;
  border: none;
}

.music-li {
  background-color: #FF6436;
  border: none;
}

.tv-li {
  background-color: #DEB400;
  border: none;
}

.game-li a, .movie-li a, .music-li a, .tv-li a {
  color: #97EDC4 !important;
  font-weight: 500;
}



/* || FAB Buttons || */
/* \\//  \\//  \\//  \\// */
.animate-linkedin {
  transition: all .5s;
  animation: fab-grow 2.1s infinite ease-in-out;
}

.animate-codepen {
  transition: all .5s;
  animation: fab-grow 2.1s .7s infinite ease-in-out;
}

.animate-gh {
  transition: all .5s;
  animation: fab-grow 2.1s 1.4s infinite ease-in-out;
}

.animate-gh:hover {
  animation: fab-rock 4s infinite ease-in-out;
}

.animate-codepen:hover {
  animation: fab-disappear 3s infinite ease-in-out;
}

.animate-linkedin:hover {
  animation: fab-speed 2.5s infinite ease-in-out;
}

@keyframes fab-grow {
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 1.1vw rgba(0,0,0,.7);
  }
}

@keyframes fab-rock {
  0% {
    transform: rotate(0) scale(1);
  }
  10% {
    transform: rotate(0) scale(1.3);
    box-shadow: 0 0 .7vw rgba(0,0,0,.7);
  }
  20% {
    transform: rotate(25deg) scale(1.5);
    box-shadow: 0 0 1.1vw rgba(0,0,0,.8);
  }
  30% {
    transform: rotate(0) scale(1.3);
    box-shadow: 0 0 .7vw rgba(0,0,0,.7);
  }
  40% {
    transform: rotate(-25deg) scale(1.5);
    box-shadow: 0 0 1.1vw rgba(0,0,0,.8);
  }
  50% {
    transform: rotate(0) scale(1.3);
    box-shadow: 0 0 .7vw rgba(0,0,0,.7);
  }
  60% {
    transform: rotate(25deg) scale(1.5);
    box-shadow: 0 0 1.1vw rgba(0,0,0,.8);
  }
  70% {
    transform: rotate(0) scale(1.3);
    box-shadow: 0 0 .7vw rgba(0,0,0,.7);
  }
  80% {
    transform: rotate(-25deg) scale(1.5);
    box-shadow: 0 0 1.1vw rgba(0,0,0,.8);
  }
  90% {
    transform: rotate(0) scale(1.3);
    box-shadow: 0 0 .7vw rgba(0,0,0,.7);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

@keyframes fab-disappear {
  0% {
    transform: translate(0,0);
  }
  10% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0,0);
  }
  25% {
    opacity: 1;
    filter: blur(3vw);
    transform: translate(0, 0);
  }
  26% {
    opacity: 0;
    filter: blur(3vw);
    transform: translate(0,0);
  }
  27% {
    opacity: 0;
    filter: blur(3vw);
    transform: translate(0, -10vw);
  }
  30% {
    opacity: 1;
    filter: blur(3vw);
    transform: translate(0, -10vw);
  }
  43% {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, -10vw);
  }
  80% {
    transform: translate(0,0);
  }
}

@keyframes fab-speed {
  0% {
    box-shadow: 0 0 1vw rgba(50,150,100,.8);
    /* box-shadow: 0 0 1vw rgba(50,150,100,.8); */
    /* box-shadow: 0 0 1vw rgba(50,150,100,.8); */
    transform: translate(0,0);
  }
  10% {
    box-shadow: 1vw 0 1vw rgba(50,150,100,.8);
    /* box-shadow: 1vw -1vw 1vw rgba(50,150,100,.8); */
    /* box-shadow: 0 -1vw 1vw rgba(50,150,100,.8); */
    transform: translate(-1vw, 0);
  }
  30% {
    box-shadow: -40vw 0 5vw rgba(50,150,100,.4);
    /* box-shadow: -40vw 40vw 5vw rgba(50,150,100,.8); */
    /* box-shadow: 0 40vw 5vw rgba(50,150,100,.8); */
    opacity: 1;
    transform: translate(40vw, 0);
  }
  31% {
    box-shadow: -40vw 0 rgba(50,150,100,.8);
    /* box-shadow: -40vw 40vw rgba(50,150,100,.8); */
    /* box-shadow: 0 40vw rgba(50,150,100,.8); */
    opacity: 0;
    transform: translate(40vw, 0);
  }
  32% {
    box-shadow: -40vw 0 rgba(50,150,100,0);
    /* box-shadow: -40vw -100vw rgba(50,150,100,.8); */
    /* box-shadow: 0 -100vw rgba(50,150,100,.8); */
    opacity: 0;
    transform: translate(-100vw, 0);
  }
  33% {
    box-shadow: 100vw 0 5vw rgba(50,150,100,0);
    /* box-shadow: 100vw -100vw 1vw rgba(50,150,100,.8); */
    /* box-shadow: 0 -100vw 1vw rgba(50,150,100,.8); */
    opacity: 1;
    transform: translate(-100vw, 0);
  }
  50% {
    box-shadow: -3vw 0 1vw rgba(50,150,100,.8);
    /* box-shadow: -3vw 3vw 1vw rgba(50,150,100,.8); */
    /* box-shadow: 0 3vw 1vw rgba(50,150,100,.8); */
    transform: translate(3vw, 0);
  }
  55% {
    box-shadow: 2vw 0 rgba(50,150,100,.8);
    /* box-shadow: 2vw -2vw rgba(50,150,100,.8); */
    /* box-shadow: 0 -2vw rgba(50,150,100,.8); */
    transform: translate(-2vw, 0);
  }
  60% {
    box-shadow: 0 0 rgba(50,150,100,.8);
    /* box-shadow: 0 0 rgba(50,150,100,.8); */
    /* box-shadow: 0 0 rgba(50,150,100,.8); */
    transform: translate(0, 0);
  }
}
/* //\\  //\\  //\\  //\\ */
/* || FAB buttons || */
