body {
  color: #3af;
  z-index: 10;
}

footer {
  background: lightblue;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  display: inline-block;
  color: #06b;
}

.darken-body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: none;
  background-color: black;
  opacity: 0;
}

.dark-body-animate {
  animation: darken-body-animation .5s forwards;
}

@keyframes darken-body-animation {
  100% {
    opacity: .4;
  }
}

.light-body-animate {
  opacity: .4;
  animation: lighten-body .5s forwards;
}

@keyframes lighten-body {
  100% {
    opacity: 0;
  }
}

.h1-landing {
  background: #bbb;
}

#nav-search {
  width: 35vw;
}

#mobile-search-trigger {
  cursor: pointer;
}

#mobile-search-drop {
  display: none;
  color: black;
  background: #cfd;
  width: 50vw;
  position: absolute;
  left: 25vw;
  z-index: 50;
  box-shadow: 0 1vw 5vw rgba(0,0,0,.8);
  transform: scale(0);
}

.mobile-search-display {
  transform: scale(0) !important;
  animation: mobile-search-appear .5s forwards !important;
}

@keyframes mobile-search-appear {
  100% {
    transform: scale(1);
  }
}

.mobile-search-away {
  z-index: -10;
  transform: scale(1) !important;
  animation: mobile-search-disappear .5s forwards !important;
}

@keyframes mobile-search-disappear {
  35% {
    transform: translate(0,0) scale(.65);
  }
  100% {
    transform: translate(0, -30vw) scale(0);
  }
}

.test-img-col {
  background: yellow;
}

.test-title-col {
  background: yellow;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

.top-favo-box-row {
  margin: 2vw 0;
  padding: 0;
}

.top-favo-desktop {
  min-height: 7vw;
  width: 20vw;
  margin: 0;
  padding: 0;
  background: papayawhip;
}

/* ~~~~~~~~~~FIX THIS FIX THIS~~~~~~~~~~~~ */
/* ~~~~~~~~~~FIX THIS FIX THIS~~~~~~~~~~~~ */
.row {
  background: #bbb;
}

.col {
  background: #eee;
}
/* ~~~~~~~~~~FIX THIS FIX THIS~~~~~~~~~~~~ */
/* ~~~~~~~~~~FIX THIS FIX THIS~~~~~~~~~~~~ */


.top-favo-desktop-name {
  font-size: 1.1em !important;
}

.top-music {
  background-color: blue;
}

.top-movie {
  background-color: red;
}

.top-show {
  background-color: green;
}

.top-game {
  background-color: brown;
}

.top-favo-mobile {
  position: relative;
  min-height: 15vw;
  background: papayawhip;
}

.top-favo-mobile-name {
  position: relative;
  top: 3vw;
}

.top-favo-mobile-type {
  position: relative;
  bottom: -10%;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  padding-bottom: 1.7em;
  font-size: 1.4em;
  height: 1.7em;
  text-align: center;
  position: relative;
  cursor: -webkit-grab;
  cursor: -moz-grag;
  cursor: grab;
}

#sortable li:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grab;
}

#sortable li span {
  position: absolute;
  left: 0;
}
