<% include ../partials/header-top %>

<!-- say users name here -->
<title>yo! favo | Name Profile page</title>

<% include ../partials/header-bottom %>

<!-- body content goes below here -->

<h1>User Profile Page</h1>

<hr>

<!-- fix this link -->
<a href="/">Home</a>

<!-- body content goes above here  -->

<% include ../partials/footer %>
