<% include ../partials/header-top %>

<title>yo! favo | <%= currentUser.first_name %>'s profile page</title>

<% include ../partials/header-bottom %>

<% include ../partials/profile-top %>

<!-- body content goes below here -->

top.ejs

<div class="row">
  <div class="col s12 l5 offset-l1 test-img-col">
    <p>img goes here</p>
  </div>
  <div class="col s12 l6">
    <div class="row">
      <div class="col s8 offset-s2">
        <h4>yo! top list</h4>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        top music goes here
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        top movie goes here
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        top tv goes here
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        top game goes here
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <a href="#">yo! top list</a>
      </div>
    </div>
  </div>
</div>


<!-- body content goes above here  -->

<% include ../partials/footer-content %>

<% include ../partials/footer %>
